* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #sky {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.wave {
  position: absolute;
  bottom: 0;
}

.cow1 {
  position: absolute;
  bottom: 10%;
  animation: cow1 30s ease-out;
  animation-fill-mode: forwards;

}

@keyframes cow1 {
  0% {
    right: -25%;
  }
  40% {
    right: 50%;
  }
  60% {
    right: 50%;
  }
  70% {
    bottom: 12%;
    right: 50%;
  }
  71% {
    bottom: 10%;
  }
  100% {
    right: 115%
  }
}

.cow:hover {
  transform: scale(1.1);
  bottom: 12%
}

.cow2 {
  position: absolute;
  bottom: 10%;
  animation: cow2 21s ease-in;
  animation-fill-mode: forwards;
}

@keyframes cow2 {
  0% {
    right: -25%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    right:65%;
    opacity: 1;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.3;
  }
  100% {
    right: 65%;
    opacity: 0;
  }
}
