* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #sky {
  height: 100vh;
  width: 100vw;
}

.wave {
  bottom: 0;
  position: absolute;
}

.night {
  background-image: url("../sky-stars.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.night:active {
  animation-name: nightToDay;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes nightToDay {
  0% {
    background-color: black;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    background-color: deepskyblue;
    opacity: 1;
  }
}

.day {
  background-image: url("../sky-clouds.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.day:active {
  animation-name: dayToNight;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes dayToNight {
  0% {
    background-color: deepskyblue;
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    background-color: black;
    opacity: 1;
  }
}

.sundown:active {
  animation-name: sundown;
  animation: 10s rise ease-out;
  animation-fill-mode: forwards;
}

@keyframes sundown {
  0% {
    background-color: #ffdd00;
    border: 10px solid #f1c40f;
    top: 10%;
    opacity: 1;
  }
  50% {
    top: 50%;
    opacity: 0.5;
  }
  100% {
    background-color: #bdc3c7;
    border: 10px solid #eaeff2;
    top: 10%;
    opacity: 1;
  }
}

.sunrise:active {
  animation-name: sunrise;
  animation-fill-mode: forwards;
  animation: 10s rise ease-out;
}

@keyframes sunrise {
  0% {
    background-color: #bdc3c7;
    border: 10px solid #eaeff2;
    opacity: 0;
    top: 50%;
  }
  50% {
    opacity: 1;
    top: 10%;
  }
  100% {
    background-color: #ffdd00;
    border: 10px solid #f1c40f;
    opacity: 0;
    top: 50%;
  }
}

#orb {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  padding: 20px;
  position: absolute;
  top: 10%;
  left: 15%;
  bottom: 0;
  right: 0;
}

.sun {
  background-color: #ffdd00;
  border: 10px solid #f1c40f;
}

.sun:hover {
  border: 20px solid #f1c40f;
}

.moon {
  background-color: #bdc3c7;
  border: 10px solid #eaeff2;
}

.moon:hover {
  border: 20px solid white;
}

#moon-spot1 {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  float: right;
  margin: 20px;
}

#moon-spot2 {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  float: right;
  margin: 20px;
}

#moon-spot3 {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  float: right;
  margin: 20px;
}

.visible {
  background-color: white;
}

.cloud1 {
  position: absolute;
  top: 5%;
  animation: cloud1 20s infinite;
  animation-iteration-count: infinite;
}

@keyframes cloud1 {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}

.cloud2 {
  position: absolute;
  top: 25%;
  left: -25%;
  animation: cloud2 15s ease-in;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes cloud2 {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}

.cloud3 {
  position: absolute;
  top: 50%;
  animation: cloud3 20s linear;
  animation-iteration-count: infinite;
}

@keyframes cloud3 {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}

.cloud4 {
  position: absolute;
  top: 30%;
  left: -75%;
  animation: cloud3 15s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes cloud4 {
  from {
    left: -75%;
  }
  to {
    left: 100%;
  }
}

.invisible {
  visibility: hidden;
}

.star-1 {
  background-color: white;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-2 {
  background-color: white;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 7%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: twinkle-3;
  animation-duration: 1s;
}

.star-3 {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10%;
  left: 15%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-4 {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 75%;
  left: 60%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: twinkle-3;
  animation-duration: 1s;
}

.star-5 {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 25%;
  left: 70%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-6 {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 75%;
  left: 30%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-7 {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5%;
  left: 80%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: twinkle-1;
  animation-duration: 1s;
}


@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-2 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-3 {
  70% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
