* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.night {
  background-image: url("../sky-stars.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.day {
  background-image: url("../sky-clouds.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#orb {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  padding: 20px;
  position: absolute;
  top: 10%;
  left: 15%;
  bottom: 0;
  right: 0;
}

#sky {
  height: 100vh;
  width: 100vw;
}

.sun {
  background-color: #ffdd00;
  border: 10px solid #f1c40f;
}

.sun:hover {
  border: 20px solid #f1c40f;
}

.moon {
  background-color: #bdc3c7;
  border: 10px solid #eaeff2;
}

.moon:hover {
  border: 20px solid white;
}

#moon-spot1 {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  float: right;
  margin: 20px;
}

#moon-spot2 {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  float: right;
  margin: 20px;
}

#moon-spot3 {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  float: right;
  margin: 20px;
}

.visible {
  background-color: white;
}

.cloud1 {
  position: absolute;
  top: 5%;
  animation: cloud1 20s infinite;
  animation-iteration-count: infinite;
}

@keyframes cloud1 {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}

.cloud2 {
  position: absolute;
  top: 25%;
  left: -25%;
  animation: cloud2 15s ease-in;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes cloud2 {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}

.cloud3 {
  position: absolute;
  top: 50%;
  animation: cloud3 20s linear;
  animation-iteration-count: infinite;
}

@keyframes cloud3 {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}

.cloud4 {
  position: absolute;
  top: 30%;
  left: -75%;
  animation: cloud3 15s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes cloud4 {
  from {
    left: -75%;
  }
  to {
    left: 100%;
  }
}
